@import url('https://fonts.googleapis.com/css?family=Roboto');





.jumbotron{
   background-color: #B09C63; 
}


.container{
   display:flex;
   }
   



/*h1 h4 div>p {
   
display: flex;
text-align: center;
font-family: 'Roboto', sans-serif;
*/

   


#attraction{
   display: flex;
   text-align:center;
   font-family: 'Roboto', sans-serif;
     }
     
#info{
   font-family: 'Roboto', sans-serif;
}

p~ul  {
   list-style: none;
   font-size: 25px;
   font-family: 'Roboto', sans-serif;
}

div p{
   font-size: 25px;
   font-family: 'Roboto', sans-serif;
}

/*img{
   max-width: 100%
   max-height:100%;
   transition:0.75s;
}

img:hover{
   transition: scale (1.2);
}
*/

   
