@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Anton');



/*---------This style pertains to the modal---------------*/

.modal-header{
    background-color: #92bba1;
}
.modal-body{
    background-color: #B09C63;
}
.modal-footer{
    background-color: #92bba1;
}
/*------------This is the end of the modal style----------*/

/*------------This is the beginning of the home page----------*/

#home{
    background-color: #B09c63;
}

.zoo {
    display:flex;
   justify-content:space-around;
}



/*-------------This is the beginning of the style for the ticket page--------*/

.jumbotron{
   background-color: #B09C63; 
}

.table{
   background-color: #92bba1;
}

/*------This id is for the calculation grid-----------*/
#ticket{
    background-color: #92bba1;
}
 
#tickets{
   background-color: #B09C63;
   font-family: 'Roboto', sans-serif;
}

   /*------This is the end of the ticket page.------/*
   


/*This is the begnning of the style for the attraction page*/

.attractionPage {
    font-family: 'Anton',sans-serif;
    font-size: 50px;
    animation-name: slide;
    animation-duration: 10s;
    animation-timing-function:ease-in-out;
    animation-iteration-count:4;
    animation-direction:alternate;
    }
    @keyframes slide {
    
    from {transform:translateX(0);}
    to {transform:translateX(815px);}
}


 #tigerStyle {
    display:flex;
    /*position:fixed;*/
     transition: width 2s, height 2s, transform 2s;
 } 
 
 
 #tigerStyle:hover{
      width: 600px;
    height: 400px;
    transform: rotate(360deg);
 }
 
 #info{
   display: flex;
   font-family: 'Roboto', sans-serif;
   
}

p~ul  {
   list-style: none;
   font-size: 25px;
   font-family: 'Roboto', sans-serif;
}

div p{
   font-size: 25px;
   font-family: 'Roboto', sans-serif;
}

.fa-earlybirds{
    font-size: 30px;
}

 
 .caption {
   display:flex;
   font-family: 'Roboto', sans-serif;

  }
  
 
  #grid{
     background-color: #92bba1;
  }
 

 .animals {
    transition-property: width, height;
    transition-duration: 4s;
}

 /*This is the end of the style for the attraction page*/
 
 
 /*-----------This is the begining of the visitors page--------------*/
 
 #visitors{
     background-color: #B09c63;
 }
 
 
 /*------The begining of the check out page--------*/
 
  #check {
     background-color: #B09C63;
   font-family: 'Roboto', sans-serif;
     
 }

 
#inputEmail4{
    width:530px;
}

#inputPassword4{
    width:300px;

}

#inputAddress{
    width:530px;
}

#inputAddress2{
    width:530px;
}
#inputCity{
    width: 200px;
}
#inputState{
    width: 200px;
    margin-right:60px;
}
#inputZip{
    width: 100px;
}