@import url('https://fonts.googleapis.com/css?family=Roboto');


.caption {
   display:flex;
   font-family: 'Roboto', sans-serif;

  }
  
  /*This style is for the attraction page*/
  
  #grid{
     background-color: #92bba1;
  }
  

/*The styles below are for the ticket.html page*/

.jumbotron{
   background-color: #B09C63; 
}

.table{
   background-color: #92bba1;
}
   
}
#tickets{
   background-color: #B09C63;
   font-family: 'Roboto', sans-serif;

   
}


.container-fluid{
   background-color: ;
}
.container{
   display:flex;
   }
   
 .animals {
    transition-property: width, height;
    transition-duration: 4s;

}

.animals:hover{
   width:  400px;
   height: 200px;
   
}



/*h1 h4 div>p {
   
display: flex;
text-align: center;
font-family: 'Roboto', sans-serif;
*/

   


#attraction{
   display: flex;
   text-align:center;
   font-family: 'Roboto', sans-serif;
     }
     
#info{
   font-family: 'Roboto', sans-serif;
}

p~ul  {
   list-style: none;
   font-size: 25px;
   font-family: 'Roboto', sans-serif;
}

div p{
   font-size: 25px;
   font-family: 'Roboto', sans-serif;
}

/*img{
   max-width: 100%
   max-height:100%;
   transition:0.75s;
}

img:hover{
   transition: scale (1.2);
}
*/

   
